<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Search</title>
  <link rel="stylesheet" href="src/css/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="src/js/drag.js"></script>
</head>
<body>

    
    
<div ng-app="dragDrop" ng-controller="DragDropCtrl" class="container">
     <div class="col-sm-5 col-sm-offset-1">
  <div class="item " ng-attr-id="{{ 'object-' + item }}" ng-repeat="item in ['College', 'Education', 'Subject of study','Score','Proximity of residence','Gender','Location','Compensation',' Notice period','Expected salary',' Interview ratings','Promotion expectation']" draggable item="item">{{ item }}</div>
    </div>
  <div class="bin col-sm-6 " droppable drop="handleDrop"  bin="bin" id="bin{{ bin }}">{{ bin }}</div>
  <div id="myModal" class="modal fade" role="dialog" data-backdrop="false">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title" ng-model="itemName">{{itemName}}</h4>
      </div>
      <div class="modal-body">
          
          <select ng-model="myModel" ng-options="profile as profile.name for profile in userProfiles" class="profile-detail" >
               
						</select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="submit()" id="sub-category">Submit</button>
      </div>
    </div>

  </div>
</div>
    <button class="text-right search-button btn btn-info" id="save-search" ng-click="save()">Save</button>
   
</div>
   
 
   
</body>
</html>